[alias]
    dft-log = -c diff.external=difft log -p --ext-diff
    dft-show = -c diff.external=difft show --ext-diff
    dft-diff = -c diff.external=difft diff

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[difftool]
    prompt = false

[core]
    pager = less -+FX

[pager]
    difftool = true

[diff]
    tool = difftastic


